* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: cadetblue;
}

.lol {
    max-width: 1920px;
    max-height: 1080px;
    height: 35px;
    width: 100%;
    position: fixed;
    top:0;
    border-bottom: solid #ffffff 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.lel {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    opacity: 0.50;
    background-color: #000a1d;
    transition: all 0.5s ease;
}

.lul {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    opacity: 0.50;
    background-color: #000a1d;
    transition: all 0.5s ease;
}

.lyl {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    opacity: 0.50;
    background-color: #000a1d;
    transition: all 0.5s ease;
}

.lil {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    opacity: 0.50;
    background-color: #000a1d;
    transition: all 0.5s ease;
}

.fap {
    font-family: GeosansLight-NMS;
    color: white;
    font-size: 2em;
}

.lel:hover {
    opacity: 1;
}

.lul:hover {
    opacity: 1;
}

.lyl:hover {
    opacity: 1;
}

.lil:hover {
    opacity: 1;
}

.a {
    height: 100vh;
    width: 100%;
    max-width: 1920px;
    max-height: 1080px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/front.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}


.b {
    height: 80vh;
    width: 100%;
    max-width: 1920px;
    max-height: 1080px;
    background-color: blue;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/stuff2.png");
    background-size:cover;
    box-shadow: 0px 0px 20px 6px rgba(0,0,0,1);
}

.c {
    height: 80vh;
    width: 100%;
    max-width: 1920px;
    max-height: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/stuff3.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;

}

.d {
    height: 80vh;
    width: 100%;
    max-width: 1920px;
    max-height: 1080px;
    background-color: yellow;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/stuff4.jpg");
    background-size:cover;
    box-shadow: 0px 0px 20px 6px rgba(0,0,0,1);
}

.e {
    height: 30vh;
    width: 100%;
    max-width: 1920px;
    max-height: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-color: #000a1d;
    z-index: -1;
}

@font-face {
    font-family: GeosansLight-NMS;
    src: url(../../misc/geonms-webfont.ttf)
}

.derp {
    font-size: 99px;
    color: white;
    text-shadow: 3px 4px 3px rgba(40, 40, 40, 1);
    margin-bottom: 45px;
    text-align: center;
    font-family: GeosansLight-NMS;
}
